.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFB8CA;
}

.sait-nav {
  margin-left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sait-nav-item:not(:last-child) {
  margin-right: 35px;
}

.sait-nav-link {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.sait-nav-link:hover, .sait-nav-link:focus {
  color: #D41443;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-buy {
  width: 159px;
  height: 44px;
  display: inline-block;
  border-radius: 22px;
  border: none;
  padding: 12px 37px;
  margin-left: 110px;
  color: #D41443;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hero {
  background-image: url(../images/Rectangle.jpg);
}

.title-hero {
  display: block;
  width: 277px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 115px;
  padding-top: 64px;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title-color {
  color: #D41443;
}

.button-first {
  display: inline-block;
  border-radius: 22px;
  border: none;
  padding: 12px 37px;
  color: #D41443;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button-second {
  display: inline-block;
  border-radius: 22px;
  border: none;
  padding: 12px 37px;
  margin-left: 115px;
  color: #ffffff;
  background-color: #D41443;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
  margin-left: 115px;
}

.text-paragraph {
  width: 200px;
  margin-left: 30px;
}

.ellipse-img {
  position: absolute;
  top: 42px;
  left: 46%;
  z-index: 1;
}

.ice-cream-img {
  position: absolute;
  top: 98px;
  left: 54%;
  z-index: 2;
}

.girl-img {
  position: absolute;
  top: 400px;
  left: 72%;
  z-index: 3;
}

.progression {
  position: absolute;
  top: 150px;
  left: 90%;
  z-index: 4;
}
/*# sourceMappingURL=main.css.map */