.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFB8CA;
}

.button-hov:hover,
.button-hov:focus {
  background-color: #ECEBEB;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sait-nav {
  margin-left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sait-nav-item:not(:last-child) {
  margin-right: 35px;
}

.sait-nav-item {
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .sait-nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.sait-nav-link {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.sait-nav-link:hover, .sait-nav-link:focus {
  color: #D41443;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-buy {
  width: 159px;
  height: 44px;
  display: inline-block;
  border-radius: 22px;
  border: none;
  padding: 12px 37px;
  margin-left: 110px;
  color: #D41443;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button-buy {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.menu-button {
  margin-left: 61px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    margin-left: 291px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.hero {
  position: relative;
  background-image: url(../images/Mobile/Rectangle-mob.png);
  padding-bottom: 167px;
  z-index: 0;
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(../images/Desktop/Rectangle.png);
    padding-bottom: 21px;
  }
}

.title-hero {
  display: block;
  width: 218px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 20px;
  padding-top: 137px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .title-hero {
    width: 162px;
    font-size: 22px;
    line-height: 1.13;
    margin-left: 34px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .title-hero {
    width: 277px;
    font-size: 38px;
    line-height: 1.15;
    margin-left: 115px;
    padding-top: 84px;
  }
}

.title-color {
  color: #D41443;
}

.hero-button {
  margin-left: 20px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-button {
    margin-left: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button {
    margin-left: 115px;
  }
}

.button-first,
.button-second {
  display: inline-block;
  border-radius: 20px;
  border: none;
  padding: 7px 14px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .button-first,
  .button-second {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 23px;
  }
}

.button-first {
  color: #ffffff;
  background-color: #D41443;
}

.button-second {
  color: #D41443;
  background-color: #ffffff;
  margin-left: 8px;
}

@media screen and (min-width: 1280px) {
  .button-second {
    margin-left: 15px;
  }
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
  margin-left: 72px;
}

@media screen and (max-width: 767px) {
  .paragraph {
    width: 767px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.text-paragraph {
  width: 200px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.position {
  display: block;
  margin-left: 30px;
}

.ellipse-img {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .ellipse-img {
    top: -50px;
    left: 40%;
    z-index: 1;
  }
}

.ice-cream-img {
  position: absolute;
  top: 30px;
  left: 25%;
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .ice-cream-img {
    top: -13px;
    left: 48%;
    z-index: 2;
  }
}

.girl-img {
  position: absolute;
  top: 312px;
  left: 71%;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .girl-img {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .girl-img {
    top: 313px;
    left: 71%;
  }
}

.progression {
  position: absolute;
  top: 40px;
  left: 89%;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .progression {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .progression {
    top: 40px;
    left: 89%;
  }
}

.progression-num {
  position: relative;
  color: #D41443;
  margin-top: 0;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: right;
}

.progression-text {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: right;
}

.ellipse-up {
  position: absolute;
  top: 1px;
  left: 55px;
  z-index: -1;
}

.ellipse-down {
  position: absolute;
  top: 85px;
  left: 55px;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */