@charset "UTF-8";
.page {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.no-padding {
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  margin-right: 85px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--color {
  color: #2196f3;
}

.main-nav {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .sait-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sait-nav__item:not(:last-child) {
  margin-right: 50px;
}

.sait-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.sait-nav__link:hover, .sait-nav__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sait-nav__link--current {
  color: #2196f3;
}

.sait-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: none;
}

.sait-nav__link--current::after, .sait-nav__link--current::after {
  display: block;
}

.auth-nav {
  margin-left: auto;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .auth-nav__item--position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth-nav__email, .auth-nav__phone {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__email:focus, .auth-nav__phone:focus {
  color: #2196f3;
}

.auth-nav__item--position:hover .auth-nav__email,
.auth-nav__item--position:hover .auth-nav__phone {
  color: #2196f3;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon--size-email {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--size-phone {
  width: 10px;
  height: 15px;
}

.auth-nav__item--position:hover .auth-nav__icon {
  fill: #2196f3;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .section__title {
    text-align: center;
  }
}

.section__title--none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .examples-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.product-card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .product-card:not(:last-child) {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product-card:not(:last-child):nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product-card:not(:last-child):nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.product-card:not(:last-child)__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-card:not(:last-child)__outline {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.94;
}

.product-card {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card__meta {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 1200px) {
  .product-card__meta {
    width: 370px;
  }
}

.product-card__popup {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.67;
}

.product-card__thumb {
  position: relative;
  overflow: hidden;
}

.product-card__thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.product-card__thumb:hover::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.product-card__thumb:hover .product-card__overlay {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.head-button {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .head-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .head-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .head-button__item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .head-button__item:not(:last-child) {
    margin-right: 8px;
  }
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.button--first {
  background-color: #2196f3;
}

.address-footer__logo {
  display: block;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .address-footer__logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .address-footer__logo {
    margin-right: 62px;
    margin-bottom: 8px;
  }
}

.contacts {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    text-align: left;
    margin-bottom: 20px;
  }
}

.contacts__item {
  color: #ffffff;
  font-style: normal;
  display: block;
  margin-bottom: 8px;
}

.contacts__item--link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  display: block;
  margin-bottom: 8px;
  font-style: normal;
}

.footer-bg {
  background-color: #2f303a;
}

/* Флекс футера */
.footer--flex {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 48px;
  }
}

.social-icons__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons__label:hover {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__svg {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.social-icons__label:hover .social-icons__svg {
  --color3: $white-color;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__join,
.form__label--title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .social-icons__join,
  .form__label--title {
    text-align: center;
  }
}

.social-icons--footer {
  padding-bottom: 56px;
}

@media screen and (min-width: 480px) {
  .social-icons--footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .social-icons--footer {
    margin-left: 69px;
  }
}

@media screen and (min-width: 480px) {
  .soc-icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .soc-icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-icons__list {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__list:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form__input {
  min-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form__input {
    min-width: 358px;
    height: 50px;
    margin-left: 94px;
  }
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .form__submit {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 12.5px;
    margin-bottom: 20px;
  }
}

.form__submit--title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .form__submit--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form__submit::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/SmallIcon/IconSend.svg);
}

.footer--form {
  padding-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .footer--form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.property {
  display: none;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .property {
    display: block;
  }
}
/*# sourceMappingURL=portfolio.css.map */