.hero {
    max-width: 1600px;
    height: 600px;
    background-color: $text-color;
    background-image: $bgimg-gradient,
    url(../images/BG/BGoffice-light.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    &__title {
        width: 770px;
        margin-top: 0;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        color: $white-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      } 
    &__button {
        display: inline-block;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 10px 32px;
        color: $white-color;
        background-color: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        letter-spacing: 0.06em;
        cursor: pointer;
    } 
}

  
  
 