
.logo {
    
    color: $blake-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      margin-right: 81px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 85px;
    }
  }
  
  .logo--color {
    color: $accent-color;
  }