.page {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: $main-font;
    letter-spacing: $main-let-spac;
    font-size: $main-font-size;
    line-height: $main-li-heig;
 }