.head-button {
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
      }

    @media screen and (min-width: 768px) {
        @include centeredFlex();
    }
  
    margin-bottom: 50px;
    &__item:not(:last-child) {
        margin-right: 8px;
    }
  }

  