.head-button {
    @media screen and (min-width: 768px) {
        @include centeredFlex();
    }
  
    @media screen and (min-width:  1200px) {
        @include centeredFlex();
    }
    margin-bottom: 50px;
    &__item:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }
      
        @media screen and (min-width:  1200px) {
            margin-right: 8px;
        }
    }
  }
  
  