
.address-footer {
      @media screen and (min-width: 768px) {
        margin-left: 76px;
      }
      @media screen and (min-width: 1200px) {
        margin-left: 0px;
      }
      &__logo {
        display: block;
        color: $white-color;
        @media screen and (min-width: 480px) {
          text-align: center; //mobail
          margin-left: auto;//mobail
          margin-right: auto;//mobail
          margin-bottom: 20px;
        }
        
        @media screen and (min-width:  1200px) {
          margin-right: 62px;
          margin-bottom: 8px;
        }
      }
  }
.contacts {
      text-align: center;//mobail
      margin-bottom: 60px;//mobail
      
      @media screen and (min-width: 1200px) {
        text-align: left;
        margin-bottom: 0;
      }
      &__item {
        color: $white-color;
        font-style: normal;
        display: block;
        margin-bottom: 8px;
      }
      &__item--link {
        color: $footer-contacts-color;
        line-height: 1.71;
        display: block;
        margin-bottom: 8px;
        font-style: normal;
      }
  }

.footer-bg {
    background-color: $footer-bg-color;
  }
/* Флекс футера */
.footer--flex {
    padding-top: 60px;//mobail
    
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width:  1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include centeredFlex(flex,baseline,space-between);
    padding-top: 48px;
    }
  }