.property {
    padding-top: 18px;
    padding-bottom: 21px;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid $border-color;
    color:$property-color;
    font-size: 12px;
    line-height: 2;
    text-align: center;
  }