.social-icons__join,
.form__label--title {
  display: block;
  margin-bottom: 20px;
  color: $white-color;
  text-transform: uppercase;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}
.social-icons--footer {
  padding-bottom: 56px;
   
  @media screen and (max-width: 480px) {
  margin-left: auto;
  margin-right: auto;
  }

  // @media screen and (min-width: 768px) {
  //   order: 2;
  // }

  @media screen and (min-width:  1200px) {
    margin-left: 69px;
  }
}
.soc-icon-list {
  @media screen and (min-width: 480px) {
    @include centeredFlex(); 
  }
  
  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.social-icons__list {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    &:not(:last-child) {
        margin-right: 10px;
      }
}