.social-icons__join,
.form__label--title {
  display: block;
  margin-bottom: 20px;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;//mobail
}
.social-icons--footer {
  padding-bottom: 56px;
  // margin-right: 90px
  margin-left: auto;//mobail
  margin-right: auto;//mobail
}
.soc-icon-list {
  // display: flex;
  @include centeredFlex();//mobail
}
.social-icons__list {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    &:not(:last-child) {
        margin-right: 10px;
      }
}