.main-nav {
  @media screen and (min-width:  1200px) {
    display: flex;
    align-items: center;
  }
  
    border-bottom: 1px solid $border-head-color;
  }
  
  .navigation {
    @media screen and (min-width:  1200px) {
      display: flex;
      align-items: center;
      @include centeredFlex();
    }
  }


 