.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width:  1200px) {
    flex-wrap: nowrap;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    }
  &__bg-icon {
    @include centeredFlex();
    height: 120px;
    margin-bottom: 30px;
    background-color:$icon-and-section-bg-color;
    
    @media screen and (min-width:  1200px) {
    width: 270px;
    }
  }
  &__text {
    margin-top: 0;
    color: $text-color;
    line-height: 1.71;

      @media screen and (min-width:  1200px) {
      width: 270px;
      margin-bottom: 0;
    }
  }
}      

.benefits__item {
    @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  &:not(:last-child) {
      @media screen and (min-width:  480px) {
      margin-bottom: 30px;
    }
      @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }
}

 
 