.benefits {
    @media screen and (min-width:  1200px) {
      display: flex;
    }
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
      }
    &__bg-icon {
        @include centeredFlex();
        @media screen and (min-width:  1200px) {
        width: 270px;
        height: 120px;
        }
        margin-bottom: 30px;
        background-color:$icon-and-section-bg-color;
      }
    &__item:not(:last-child) {
        @media screen and (min-width:  1200px) {
          margin-right: 30px;
        }
      } 
    &__text {
        margin-top: 0;
        margin-bottom: 30px; // mobail
        color: $text-color;
        line-height: 1.71;
        @media screen and (min-width:  1200px) {
          width: 270px;
          margin-bottom: 0;
        }
     }
  }

  


 
  
  
 