$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$blake-color: #000000;
$border-lab-color: #afb1b8;
$icon-and-section-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$shadow-bg-color: rgba(47, 48, 58, 0.8);
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$property-color: rgba(255, 255, 255, 0.4);
$border-color: rgba(255, 255, 255, 0.1);
$border-card-color: #eeeeee;
$border-head-color: #ececec;

$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bgimg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

$translate-center: translate(-50%, -50%);

$main-font: Roboto, sans-serif;
$main-let-spac: 0.03em;
$main-font-size: 14px;
$main-li-heig: 1.14;