.modal-checkbox {
    // display: flex;
    // align-items: center;
    @include centeredFlex();
    margin-left: 53px;
    margin-right: 52px;
    margin-bottom: 30px;
    &__label {
        display: inline-block;
        color: $text-color;
        letter-spacing: $main-let-spac;
         
        &--link {
        color: $accent-color;
        letter-spacing: $main-let-spac;
        }
    }
  }
.modal-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;  
    &--customm {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 8px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 2px;
        transition: background-color $timing-function, 
        border-color $timing-function;
    }
    &:checked + &--customm {
        border-color: $accent-color;
        background-color: $accent-color;
        background-image: url(../images/SmallIcon/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
       }
  }